<mat-card class="user-info-card">
    <mat-card-header>
      <mat-card-title>User Information</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="field">
        <label>First Name:</label>
        <span>{{ user.firstName }}</span>
      </div>
      <div class="field">
        <label>Last Name:</label>
        <span>{{ user.lastName }}</span>
      </div>
      <div class="field">
        <label>Email:</label>
        <span>{{ user.email }}</span>
      </div>
      <div class="field">
        <label>Access Type:</label>
        <span>{{ user.accessType }}</span>
      </div>
      <div class="field">
        <label>Gender:</label>
        <span>{{ user.gender }}</span>
      </div>
      <div class="field">
        <label>Description:</label>
        <div class="description" [innerHTML]="user.description"></div>
      </div>
      <div class="field">
        <label>Date of Birth:</label>
        <span>{{ user.dob | date:'longDate' }}</span>
      </div>
      <div class="field">
        <label>Salary</label>
        <span>{{ user.salary }}</span>
      </div>
      <div class="field">
        <label>Skills:</label>
        <span *ngFor="let skill of Timings; let isLast=last">
          {{ skill }}<span *ngIf="!isLast">, </span>
        </span>
      </div>
    </mat-card-content>
  </mat-card>
  